body{background:#000345;font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;color:#fff}
h1,h2{color:#9FC2F8;}
p{color:#5345df;}
p{font-size: 40pt;}
h1{font-size: 20pt;}
a:visited{text-decoration:none;}